<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <ul>
      <li>Name: <%= name %></li>
      <li>Email: <%= email %></li>
      <li>Age: <%= age %></li>
    </ul>
    <br />
    <form action="/logout" method="post">
      <button>Logout</button>
    </form>
  </body>
</html>
