<html>
  <head>
    <title>Login System</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/" method="post">
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <button>Login</button>
    </form>
    <a href="/register">Register</a>
  </body>
</html>
