<html>
  <head>
    <title>Login System</title>
  </head>
  <body>
    <h1>Registeration Page</h1>
    <form action="/register" method="post">
      <input type="text" placeholder="Name" name="name" />
      <input type="email" placeholder="Email" name="email" />
      <input type="number" placeholder="Age" name="age" />
      <input type="password" placeholder="Password" name="password" />
      <button>Register</button>
    </form>
    <a href="/">Login</a>
  </body>
</html>
